@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h3 {
        font-family: "Exo 2";
    }

    p {
        font-family: "Raleway";
    }

    li {
        font-family: "Raleway";
    }

    a {
        font-family: "Raleway";
    }

    label {
        font-family: "Raleway";
    }

    button {
        font-family: "Exo 2";
    }

    input {
        font-family: "Raleway";
    }

  


}

button {
    border: 0;
}

.logo-login img {
    width: 100px;
}


h1 {
    color: white;
}


#imagem-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 90%;
    position: relative;
    background-image: linear-gradient(to right, rgba(5, 3, 0, 0.689), #0004089c), url("img/image.png");;


    #cadastro {
        position: relative;
        width: 380px;
        padding: 40px;
        backdrop-filter: blur(15px);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        height: 600px;
        gap: 20px;
        z-index: 10;
        border: 0 25px 45px rgba(255, 255, 255, 0.4);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);


        h3 {
            color: white;
            font-size: 2rem;

            text-align: center;
            font-family: "Exo 2";
        }


        form input {
            width: 270px;
            height: 50px;
            border-radius: 10px;
            padding: 0 10px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            transition: 500ms;
        }

        input::placeholder {
            color: white;
        }

        input:focus {
            outline: none;
            border-width: 2px;
            transform: translateY(-5px);
            box-shadow: 0 0 4px white;

           
            
        }

        form label{
            position: absolute;
            top: 14px;
            left: 10px;
            color: transparent;
            pointer-events: none;
            transition: all 0.5s;
            background-color: transparent;
            padding: 0 4px;
            transform: translateY(-50%);
        }

        

            
            


        #erro {
            color: red;
            margin-top: 3px;
            display: none;
        }

        .criar-ou-enviar {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;


            .esqueceu-senha {
                color: white;
                text-decoration: underline;
            }

            .btn {
                background-color: transparent;
                border: 2px solid white;
                width: 270px;
                height: 40px;
                border-radius: 10px;
                font-size: 1rem;
                color: white;
                transition: 500ms;
                cursor: pointer;
            }

            .btn:hover {
                transform: translateY(-5px);
                background-color: white;
                color: black;


            }

            li {
                font-family: "Raleway";
            }
        }


        .linhas {
            display: flex;
            align-items: center;
            gap: 5px;

            p {
                color: white;
                font-family: "Raleway";
            }

            hr {
                width: 150px;
                height: 2px;
                
            }
        }



        .opcoes-login {
            display: flex;
            flex-direction: column;

            li {
                border: 2px solid white;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                color: white;
                cursor: pointer;
                transition: 0.5s ease;
            }


            i {
                margin-right: 6px;
            }

            ul {
                list-style: none;
            }

            li:hover {
                background-color: white;
                color: rgba(0, 0, 0, 0.877);
                transform: scale(1.1);
            }
        }


        .div-criar-conta {
            display: flex;
            flex-direction: row;
            gap: 3px;

            p {
                color: white;
                font-family: "Raleway";
            }

            .criar-conta {
                color: white;
                text-decoration: underline;
            }
        }
    }


}


@media (max-width: 480px) {
    #imagem-fundo {
        #cadastro {
            background-color: transparent;
            border: none;
        }
    }
}